
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div> 
        <h3>Success Page</h3>
        <h2>Membership  process successfully !</h2>
    </div>
</body>
</html>
